{% extends 'main/base.html' %}
{% load static %}
{% block title %}ДИАКОН-BET | Контакты{% endblock title %}
{% block meta %}{% endblock meta %}
{% block content %}
<section class="contacts1">
    <div class="container">
        <h2 class="contacts_text1">Контакты</h2>
        <div class="contacts_cards1">
            <div class="contacts_card">
                <div class="contacts_block1">
                    <div class="contacts_item1">
                        <h2 class="contacts_text2">«Офис продаж»</h2>
                        <div class="contacts_line"></div>
                        <h3 class="contact_adress">142290 Россия, Московская область, г. Пущино, Д 20-А, 2 этаж</h3>
                        <div class="contacts_number">
                            <img class="contacts_img1" src="{% static 'img/phone01.png' %}" alt="">
                            <h4 class="contacts_description">+7 (499) 130-05-25</h4>
                        </div>
                        <div class="contacts_number2">
                            <img class="contacts_img1" src="{% static 'img/phone02.png' %}" alt="">
                            <h4 class="contacts_description">info@diakonvet.ru</h4>
                        </div>
                        <h3 class="contacts_work">Режим работы</h3>
                        <h4 class="contacts_descr">пн-пт — с 9.00 до 16.00 <br>
                            сб-вс — выходной день</h4>
                    </div>
                    <div class="contact_item2">
                        <img class="contacts_map" src="{% static 'img/map.png' %}" alt="">
                    </div>
                </div>
            </div>
            <div class="contacts_card">
                <div class="contacts_block1">
                    <div class="contacts_item1">
                        <h2 class="contacts_text2">«Диакон-Вет»
                            в Пущино</h2>
                        <div class="contacts_line"></div>
                        <h3 class="contact_adress">МО, г. Пущино, Грузовая улица, 1А/1</h3>
                        <div class="contacts_number">
                            <img class="contacts_img1" src="{% static 'img/phone01.png' %}" alt="">
                            <h4 class="contacts_description">+7 (499) 130-05-25</h4>
                        </div>
                        <div class="contacts_number2">
                            <img class="contacts_img1" src="{% static 'img/phone02.png' %}" alt="">
                            <h4 class="contacts_description">info@diakonvet.ru</h4>
                        </div>
                        <h3 class="contacts_work">Режим работы</h3>
                        <h4 class="contacts_descr">пн-пт — с 9.00 до 16.00 <br>
                            сб-вс — выходной день</h4>
                    </div>
                    <div class="contact_item2">
                        <img class="contacts_map" src="{% static 'img/map2.png' %}" alt="">
                    </div>
                </div>
            </div>
            <div class="contacts_card">
                <div class="contacts_block1">
                    <div class="contacts_item1">
                        <h2 class="contacts_text2">Склад в Москве</h2>
                        <div class="contacts_line"></div>
                        <h3 class="contact_adress">г. Москва, ул. Нагатинская, д.1, стр. 2</h3>
                        <div class="contacts_number">
                            <img class="contacts_img1" src="{% static 'img/phone01.png' %}" alt="">
                            <h4 class="contacts_description">+7 (499) 788-78-58</h4>
                        </div>
                        <div class="contacts_number2">
                            <img class="contacts_img1" src="{% static 'img/phone02.png' %}" alt="">
                            <h4 class="contacts_description">info@diakonvet.ru</h4>
                        </div>
                        <h3 class="contacts_work">Режим работы</h3>
                        <h4 class="contacts_descr">пн-пт — с 9.00 до 16.00 <br>
                            сб-вс — выходной день</h4>
                    </div>
                    <div class="contact_item2">
                        <img class="contacts_map" src="{% static 'img/map3.png' %}" alt="">
                    </div>
                </div>
            </div>
            <div class="contacts_card">
                <div class="contacts_block1">
                    <div class="contacts_item1">
                        <h2 class="contacts_text2">Склад в Пущино</h2>
                        <div class="contacts_line"></div>
                        <h3 class="contact_adress">142290 Россия, Московская область, г. Пущино, ул. Институтская, д.5
                        </h3>
                        <div class="contacts_number">
                            <img class="contacts_img1" src="{% static 'img/phone01.png' %}" alt="">
                            <h4 class="contacts_description">+7 (499) 788-78-58</h4>
                        </div>
                        <div class="contacts_number2">
                            <img class="contacts_img1" src="{% static 'img/phone02.png' %}" alt="">
                            <h4 class="contacts_description">info@diakonvet.ru</h4>
                        </div>
                        <h3 class="contacts_work">Режим работы</h3>
                        <h4 class="contacts_descr">пн-пт — с 9.00 до 16.00 <br>
                            сб-вс — выходной день</h4>
                    </div>
                    <div class="contact_item2">
                        <img class="contacts_map" src="{% static 'img/map4.png' %}" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="contacts_company">
            <h2 class="contacts_company_text">Реквизиты компании</h2>
            <button class="contacts_btn">Скачать реквизиты</button>
        </div>
        <div class="contacts_bill">
            <h3 class="contacts_bill_text">ООО «ДИАКОН-ВЕТ»</h3>
            <h4 class="contacts_bill_title">Расчетный счет</h4>
            <h4 class="contacts_bill_subtitle">40702810602120000935</h4>
        </div>
        <div class="contacts_bill_line"></div>
        <div class="contacts_adress">
            <h3 class="contacts_adress_text">ОГРН</h3>
            <h4 class="contacts_adress_text2">1145043005447</h4>
            <h4 class="contacts_adress_title">Адрес</h4>
            <h4 class="contacts_adress_subtitle">в ПАО «БАНК УРАЛСИБ» г. Москва</h4>
        </div>
        <div class="contacts_bill_line"></div>
        <div class="contacts_corespondent">
            <h3 class="contacts_corespondent_text">ИНН/КПП</h3>
            <h4 class="contacts_corespondent_text2">5039010948/503901001</h4>
            <h4 class="contacts_corespondent_title">Корреспондентский счет</h4>
            <h4 class="contacts_corespondent_subtitle">30101810100000000787</h4>
        </div>
        <div class="contacts_bill_line"></div>
        <div class="contacts_bic">
            <h3 class="contacts_bic_text">ОКПО</h3>
            <h4 class="contacts_bic_text2">34922395</h4>
            <h4 class="contacts_bic_title">БИК</h4>
            <h4 class="contacts_bic_subtitle">044525787</h4>
        </div>
        <div class="contacts_bill_line"></div>
    </div>
</section>
{% endblock content %}