
{% load static %}
<section class="contacts">
    <div class="container">
        <div class="contacts_block">
            <div class="contacts_logo">
                <img class="contacts_img" src="{% static 'img/logo2.png' %}" alt="">
                <img class="contacts_img" src="{% static 'img/logo3.png' %}" alt="">
                <h3 class="contacts_text">ООО «ДИАКОН-ВЕТ»: ветеринарное оборудование и приборы, диагностические
                    реагенты для лабораторий и клиник <br><br> Компания осуществляет свою работу по упрощенной системе
                    налогообложения (УСН)
                    в соответствии со ст. 346.12 НК РФ</h3>
                <a class="contacts_a" href="">Политика обработки персональных данных <br><br> Положение об
                    антикоррупционной политике</a>

            </div>
            <ul class="contact_ul_reagent">
                <li class="contact_li" id="li1"><span>Реагенты</span></li>
                <li class="contact_li">Реагенты для биохимических анализаторов</li>
                <li class="contact_li">Диагностические профили</li>
                <li class="contact_li">Реагенты ДиаВетТест</li>
                <li class="contact_li">Реагенты BSBE</li>
                <li class="contact_li">Реагенты Skyla</li>
                <li class="contact_li">Контрольные материалы</li>
                <li class="contact_li">Реагенты для гематологических анализаторов</li>
                <li class="contact_li">Dymind</li>
                <li class="contact_li">URIT</li>
            </ul>
            <ul class="contact_ul_reagent">
                <li class="contact_li" id="li1"><span>Ветоборудование</span></li>
                <li class="contact_li">Биохимические анализаторы</li>
                <li class="contact_li">Гематологические анализаторы</li>
                <li class="contact_li">Мочевая химия</li>
                <li class="contact_li">Анализаторы электролитов</li>
                <li class="contact_li">Функциональная диагностика</li>
                <li class="contact_li">Экспресс-диагностика</li>
                <li class="contact_li">Общее лабораторное оборудование</li>
                <li class="contact_li">Коагуляторы</li>
                <li class="contact_li">Центрифуги</li>
                <li class="contact_li">Дозаторы</li>
                <li class="contact_li">Ветлаборатория под ключ</li>
            </ul>
            <ul class="contact_ul_reagent">
                <li class="contact_li" id="li1"><span>Компания</span></li>
                <li class="contact_li" id="li1"><span>Статьи</span></li>
                <li class="contact_li" id="li1"><span>Сервис</span></li>
                <li class="contact_li" id="li1"><span>Акции</span></li>
                <li class="contact_li" id="li1"><span>Доставка и оплата</span></li>
                <li class="contact_li" id="li1"><span>Дилерам</span></li>
                <li class="contact_li" id="li1"><span>Новости</span></li>
                <li class="contact_li" id="li1"><span>Видео</span></li>
                <li class="contact_li" id="li1"><span>Контакты</span></li>
            </ul>
            <div class="contacts_telephone">
                <h1 class="contacts_tel">+7 (499) 372-24-62 <br>+7 (499) 130-05-25</h1>

                <div class="contacts_mail">
                    <img class="contacts_image1" src="{% static 'img/mail.png' %}" alt="">
                    <h3 class="contacts_mail_text">info@diakonvet.ru</h3>
                </div>
                <div class="contacts_mail2">
                    <img class="contacts_image2" src="{% static 'img/inst.png' %}" alt="">
                    <h3 class="contacts_mail_text">@diakonvet</h3>
                </div>
                <h4 class="contacts_street">Московская область, г. Пущино, улица Грузовая, 1А, 142290</h4>
                <button class="contacts_btn">Заказать консультацию</button>
            </div>
        </div>
    </div>
</section>
<footer>
    <div class="container">
        <div class="footer_block">
            <h4 class="footer_text">2014-2021 Компания ООО “ДИАКОН-ВЕТ” Все права защищены</h4>
            <img class="footer_img" src="{% static 'img/footer.png' %}" alt="">
        </div>
    </div>
</footer>